* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #0D0620, #0C082B, #0A0924, #020006, #050309);
}

.app__main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    /* background-image: linear-gradient(to top, rgba(4, 55, 121, 0.3), rgba(5, 36, 77, 0.3)); */
    /* background-image: linear-gradient(to bottom, rgba(184, 184, 184, 0.9), rgba(255, 255, 255, 0.9)); */
    width: 75%;
    max-width: 1100px;
    height: 75%;
    border-radius: 10px;
    flex-direction: column;
    z-index: 1;
    padding: 10px 0px;
}

.app__header {
    position: absolute;
    top: 0;

}

.particles__contact {
    position: absolute;
    filter: blur(4px);
    z-index: 0;
}

#tsparticles {
    height: 100vh;
    width: 100vw;
}

.app__form {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(253, 253, 253, 0.3);
    -moz-box-shadow: 0px 0px 5px rgba(253, 253, 253, 0.3);
    -webkit-box-shadow: 0px 0px 5px rgba(253, 253, 253, 0.3);
    width: 85%;
    /* background-image: linear-gradient(to right, rgba(2, 42, 94, 0.8), rgba(3, 28, 61, 0.8)); */
    background-image: linear-gradient(to right, #191C59, #111440);
}

.app__todo {
    height: 80%;
    width: 75%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-left: 10px;
    padding-bottom: 15px;
    margin-right: 8px;
    margin-top: 10px;
    overflow-x: hidden;
}

.show__counter {
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    align-items: center;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: 0 0 2px grey;
    -moz-box-shadow: 0 0 2px grey;
    -webkit-box-shadow: 0 0 2px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(253, 253, 253, 0.7);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
}

.app__input{
    flex: 1;
}

.app__btn {
    border-radius: 10px;
    padding: 10px 5px;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .app__main {
        width: 75%;
        height: 75%;
    }

    .app__form {
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        width: 85%;
    }

    .app__todo {
        height: 80%;
        width: 80%;
    }

    .app__btn {
        border-radius: 0px 10px 10px 0px !important;
    }
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .app__main {
        width: 75%;
        height: 75%;
    }

    .app__form {
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        width: 85%;
    }

    .app__todo {
        height: 80%;
        width: 80%;
    }

    .app__btn {
        border-radius: 0px 10px 10px 0px !important;
    }
}


@media (min-width: 481px) and (max-width: 767px) {
    .app__main {
        width: 85%;
        height: 75%;
    }

    .app__form {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 85%;
    }

    .app__todo {
        height: 80%;
        width: 85%;
        overflow-y: scroll;
        scroll-behavior: smooth;
        padding-left: 10px;
        padding-bottom: 15px;
        margin-right: 10px;
    }

    .app__btn {
        border-radius: 0px 0px 10px 10px !important;
        padding: 10px 5px;
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    .app__main {
        width: 85%;
        height: 75%;
    }
    .app__form {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 85%;
    }
    .app__todo {
        height: 80%;
        width: 85%;
        overflow-y: scroll;
        scroll-behavior: smooth;
        padding-left: 10px;
        padding-bottom: 15px;
        margin-right: 10px;
    }
    .app__btn {
        border-radius: 0px 0px 10px 10px !important;
        padding: 10px 5px;
    }
}
