.footer {
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.footer > span {
    padding: 5px;
    letter-spacing: 2px;
}