.todo__list {
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    box-shadow: inset 0 0 6px rgba(0 , 0, 0, 0.9);
    animation: moveTodo 4s ease-in-out;
    animation-iteration-count: 1;
}

.MuiList-root {
    margin: 10px 0px !important;
    padding: 0;
    position: relative;
    list-style: none;
}

.MuiTypography-root {
    padding: 5px !important;
}

@keyframes moveTodo {
    from{
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0vw);
    }
}
@-o-keyframes moveTodo {
    from{
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0vw);
    }
}
@-moz-keyframes moveTodo {
    from{
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0vw);
    }
}
@-webkit-keyframes moveTodo {
    from{
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0vw);
    }
}


.input__main {
    color: #38358C !important;
}

